<div [dir]="resources.direction" dnd-droppable (onDropSuccess)="addImage($event.mouseEvent)">
    <div matDialogTitle>
        <div>
            <i class="fa fa-lg icon-{{markerType}}" [style.color] ="resources.getIconColor(markerType)"></i> {{title}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div flexLayout="row">
            <div fxFlex="60" class="margin-10-reverse">
                <div fxLayout="row">
                    <mat-form-field fxFill>
                        <input matInput #titleInput type="text" [dir]="resources.getDirection(title)" [(ngModel)]="title" placeholder="{{resources.title}}" fxFill />
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFill>
                        <textarea rows="4" maxlength="255" matInput [dir]="resources.getDirection(description)" [(ngModel)]="description" placeholder="{{resources.description}}" fxFill></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex>
                <div fxLayout="row">
                    <label *ngIf="!imageLink">
                        <a mat-button class="flex-center" [style.color]="'black'" imageCapture (changed)="addImage($event)" fxFill angulartics2On="click" angularticsCategory="POI" angularticsAction="Upload image"><i class="fa icon-camera fa-4x"></i> <i class="fa icon-plus fa-2x"></i></a>
                        <input type="file" (change)="addImage($event)" [style.display]="'none'" accept="image/*;capture=camera" />
                    </label>
                    <img fxFill *ngIf="imageLink"
                         [src]="resources.getResizedImageUrl(imageLink.url, 300)"
                         class="img-responsive" />
                </div>
                <div fxLayout="row" *ngIf="imageLink">
                    <button mat-button fxFill (click)="clearImage()" matTooltip="{{resources.clear}}" matTooltipPosition="above"><i class="fa icon-trash"></i></button>
                </div>
            </div>
        </div>
        <div flexLayout="row" *ngIf="showCoordinates">
            <coordinates [latlng]="marker.latlng"></coordinates>
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxFlex>
            <mat-menu #appMenu="matMenu" overlapTrigger="false" [xPosition]="'before'">
                <button mat-menu-item [dir]="resources.direction" [ngClass]="resources.getTextAlignment()" (click)="toggleCoordinates()" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Toggle coordinates"><i class="fa icon-globe"></i> {{resources.showCoordinates}}</button>
                <button mat-menu-item [dir]="resources.direction" [ngClass]="resources.getTextAlignment()" (click)="navigateHere()" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Navigate here"><i class="fa icon-recordings"></i> {{resources.navigateHere}}</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="appMenu" matTooltip="{{resources.more}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="More"><i class="fa icon-ellipsis-v fa-lg"></i></button>
        </div>
        <div fxFlex>
            <button mat-button type="button" matDialogClose (click)="remove()" matTooltip="{{resources.deletePoi}}" matTooltipPosition="above" fxFill><i class="fa icon-trash"></i></button>
        </div>
        <div fxFlex>
            <button mat-button type="button" matDialogClose (click)="save()" matTooltip="{{resources.save}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Save" fxFill><i class="fa icon-check"></i></button>
        </div>
    </div>
</div>